@keyframes wheelRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wheelBackRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  overflow-x: hidden;
}

.search {
  display: block;
  margin: auto;
  width: 300px;
  height: 20px;
  font-size: 20px;
}
@media screen and (max-width: 430px) {
  .search {
    margin: auto;
    width: 400px;
  }
}
@media screen and (min-width: 431px) and (max-width: 1180px) {
  .search {
    margin: auto;
    width: 500px;
  }
}

.result {
  margin: auto;
  margin-top: 50px;
  width: 80vw;
  height: 80vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 430px) {
  .result {
    margin-left: 2px;
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 431px) and (max-width: 1180px) {
  .result {
    margin-left: 2px;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.block {
  text-align: center;
  height: 300px;
  width: 300px;
  font-size: 20px;
  border: 1px solid rgb(0, 0, 0);
}
@media screen and (max-width: 430px) {
  .block {
    height: 250px;
    width: 400px;
  }
}
@media screen and (min-width: 431px) and (max-width: 1180px) {
  .block {
    height: 250px;
    width: 370px;
  }
}
.block--title {
  margin: 0;
  font-size: 20px;
  background-color: grey;
  height: 50px;
}
.block--description {
  margin: 0;
  font-size: 20px;
}
.block--cost {
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
}

.fuelScale {
  height: 10px;
  width: 500px;
  border: 1px solid black;
  margin-bottom: 20px;
}
.fuelScale__fill {
  width: 500px;
  height: 10px;
  transition: 0.1s;
  background-color: orange;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: auto;
  border: 1px solid black;
  width: 1500px;
  height: 600px;
}

.car {
  position: relative;
  height: 155px;
  width: 19%;
  transition: 0.1s;
}
.car__top {
  margin: auto;
  background-color: red;
  width: 60%;
  height: 25%;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}
.car__bottom {
  margin: auto;
  background-color: red;
  width: 90%;
  height: 40%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.car__wheels {
  position: absolute;
  top: 80px;
  left: 15px;
  width: 90%;
  height: 35%;
  display: flex;
  justify-content: space-around;
}
.car__wheels--left {
  border: 7px dashed #757373;
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.car__wheels--right {
  border: 7px dashed #757373;
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.rotateAnim {
  animation: wheelRotate 5s linear 1;
}

.backRotate {
  animation: wheelBackRotate linear 5s 1;
}/*# sourceMappingURL=style.css.map */